Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_URI} !index
RewriteCond %{REQUEST_URI} !download
RewriteCond %{REQUEST_URI} !figures
RewriteCond %{REQUEST_URI} !sitemap
RewriteCond %{REQUEST_URI} !code
RewriteRule ^(.*)$ index.php?tag=$1 